body {
    font-family: 'Orbit', sans-serif;
    color: greenyellow;
    background-color: #111;
}
.sketch {
    width: 640px;
    height: 480px;
    border: 2px solid rgb(72, 72, 72);
    border-radius: 2px;
}
.large {
    height: 560px;
}
#main {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    margin-left: 20px;
    margin-top: 20px;
}
#canvases {
    display: flex;
    flex-direction: row;
}

/* centers on screen */
#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#left-part {
    padding-right: 30px;
}
button {
    font-family: 'Orbit', sans-serif;
    border: 5px solid lawngreen;
    border-radius: 4px;
    height: 60px;
    width: 120px;
    margin: 10px;
    background-color: rgb(30, 30, 30);
    color: lawngreen;
    cursor: pointer;

}
/* slider stuff */
#frame-slider {
-webkit-appearance: none;
width: 95%;
height: 15px;
background: #000;
outline: none;
border: 5px solid lawngreen;
border-radius: 8px;
margin-top: 20px;
}


/* for chrome/safari */
#frame-slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 20px;
height: 60px;
background: #000;
cursor: pointer;
border: 5px solid lawngreen;
border-radius: 4px;
}

/* for firefox */
#frame-slider::-moz-range-thumb {
width: 20px;
height: 60px;
background: #000;
cursor: pointer;
border: 5px solid lawngreen;
border-radius: 4px;
}